@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;600&family=Bellefair&display=swap');
:root {
    --Black: hsl(230, 35%, 7%);
    --Light-purple: hsl(231, 77%, 90%);
    --White: hsl(0, 0%, 100%);
    /*
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
    */
}
* {
    margin: 0;
    padding: 0;
}
body {
    height: 600px;
    background: var(--Black);
    color: var(--White);
    background-image: url(/assets/crew/background-crew-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* == FUENTES == */
    .barlow {font-family: 'Barlow Condensed', sans-serif;}
    .bellefair {font-family: 'Bellefair', serif;}
    .parrafo {font-family: sans-serif; font-weight: lighter; color: var(--Light-purple);}
/* ---- HEADER ---- */
header {
    display: flex;
    justify-content: space-between;
}
header img {
    width: 40px;
    margin: 24px 24px 0 24px;
}
.burguer-img {
    width: 30px;
}
/* ---- NAV ---- */
nav ul {
    display: none;
    cursor: pointer;
}
/* ---- TITLE TOP ---- */
h2 {
    margin: 30px 0 40px 0;
    color: var(--White);
    font-size: 24px;
    font-weight: lighter;
    width: 100%;
    text-align: center;
}
span {
    color: rgb(139, 134, 155);
    margin-right: 15px;
}
/* ---- CONTAINER GRAL ---- */
.container-gral {
    display: flex;
    flex-direction: column-reverse;
}
/* ---- CREW DESCRIPTIONS ---- */
.specialist, .pilot, .engineer {
    display: none;
}
.images-crew {
    width: 300px;
    height: 220px;
    margin: 0 auto 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    display: flex;
    justify-content: center;
}
.img-crew {
    width: auto;
    height: 100%;
}
/* ---- ARTICULO ---- */
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 20px;
}
.articles-container {
    margin-top: 10px;
}
.buttons-container button {
    width: 18px;
    height: 18px;
    border-radius: 10px;
    margin-left: 14px;
    border: none;
    background-color: rgba(255, 255, 255, 0.418);
    transition: 0.2s;
}
.buttons-container button:hover {
    background-color: white;
}
h3 {
    color: rgba(255, 255, 255, 0.452);
    font-family: 'Bellefair', serif;
    font-weight: lighter;
    margin: 20px 0 10px 0;
    font-size: 17px;  
}
h4 {
    font-family: 'Bellefair', serif; 
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.crew-description p {
    margin: 0 auto 0 auto;
    font-family: sans-serif;
    font-weight: lighter;
    width: 320px;
    line-height: 26px;
    color: var(--Light-purple);
    font-size: 14px;
}


/* =-=-=-=-= Queries =-=-=-=-= */
/* ---- TABLET ---- */
@media (min-width: 600px) {
    body {
        background-image: url(/assets/crew/background-crew-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* ---- HEADER ---- */
    header img {
        width: 48px;
        height: 48px;
        margin: 30px 0 0 30px;
    }
    /* ---- NAV ---- */
    nav {
        background-color: rgba(255, 255, 255, 0.075);
        width: 60%;
        height: 96px;
        margin: 0 0 0 0;
    }
    nav img {
        display: none;
    }
    nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 35px 0 0 20px;
    height: 30px;
    }
    nav ul li {
        display: flex;
        padding-bottom: 37px;
        height: 21px;
        transition: 0.2s;
    }
    nav ul li:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.363);
    }
    .nav-active {
        border-bottom: 3px solid var(--White);
    }
    nav ul li a {
        text-decoration: none;
        color: var(--White);
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: lighter;
        font-size: 18px;
    }
    nav ul li a span {
        display: none;
    }
    /* ---- TITLE TOP ---- */
    h2 {
        margin: 30px 0 20px 38.5px;
        width: 300px;
        text-align: left;
    }
    /* ---- CONTAINER GRAL ---- */
    .container-gral {
        display: flex;
        flex-direction: column;
    }
    /* ---- CREW DESCRIPTIONS ---- */
    .images-crew {
        width: 457px;
        height: 572px;
        margin: 20px auto 0 auto;
        border-bottom: 0 solid rgba(255, 255, 255, 0.26);
    }
    /* ---- ARTICULO ---- */
    .text-container {
        flex-direction: column;
        margin-top: 0;
    }
    .articles-container {
        margin: 0 0 30px 0;
    }
    h3 {
        margin: 20px 0 14px 0;
        font-size: 24px;  
    }
    h4 {
        font-size: 42px;
    }
    .crew-description p {
        margin: 0 auto 0 auto;
        width: 459px;
        font-size: 16px;
    }
}

/* ---- DESKTOP ---- */
@media (min-width: 1100px) {
    body {
        background-image: url(/assets/crew/background-crew-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* ---- HEADER ---- */
    header img {
        width: 48px;
        height: 48px;
        margin: 64px 24px 0 55px;
    }
       /* ---- NAV ---- */
       nav {
           margin-top: 40px;
           background-color: rgba(255, 255, 255, 0.137);
           backdrop-filter: blur(25px);
       } 
    .box-liner-nav {
        position: relative;
    }
    .line-desktop-nav {
        position: absolute;
        left: -440px;
        width: 473px;
        height: 47px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.363);
    }
    

}